*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: rgb(241, 229, 213);
}

.game-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 10px;

    border-color: white;
    /* justify-content: center; */

    margin-top: 10%;

}

.game-board{
    background-color: #bbada0;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

.tile{
   width:100px;
   height: 100px;
   display: flex;
  background-color: #cdc1b4;
  justify-content: center;
  align-items: center;
  color: #54493f;
  font-size: 24px;
  border-radius: 5px;
}

.tile-2{
    background-color: rgb(234, 157, 129);
}

.tile-4{
    background-color: rgb(234, 146, 114);
}
.tile-8{
     background-color: rgb(236, 140, 104);
}
.tile-16{
    background-color: rgb(240, 133, 94);
}
.tile-32{
    background-color: rgb(228, 122, 83);
}
.tile-64{
    background-color: rgb(223, 111, 71);
}
.tile-128{
     background-color: rgb(220, 102, 60);
}
.tile-256{
     background-color: rgb(213, 92, 48);
}
.tile-512{
     background-color: rgb(208, 83, 37);
}
.tile-1024{
    background-color: rgb(222, 79, 27);
}
.tile-2048{
    background-color: rgb(248, 70, 6);
}

.game-info{
    margin-top: 20px;
    text-align: center;
}

.score-container{
    font-size: 24px;
    margin-bottom: 10px;
    color: #54493f;
}

button {
  padding: 5px 20px; /* Add horizontal padding for breathing room */
  font-size: 20px;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid transparent; /* Prevent default thick border */
  
  background: #bbada0;
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; /* Just in case */
  font-weight: bold;
  color: #54493f; /* Optional: ensure text is visible */
  cursor: pointer;
  
}

button:hover {
  background: #f1af72;
  transform: scale(1.10);
  transition: 0.5s ease;
}
